In [1]:
import pandas as pd
import numpy as np

In [2]:
credit=pd.read_csv('credit_tmp.csv')

In [3]:
credit.tail()

,Customer_id,Age,Income_level,Number_of_credit_cards,Education,Car_loans,Credit_rating
2459,A00002460,28.0,Medium,Less than 5,High school,None or 1,Good
2460,A00002461,30.0,Medium,Less than 5,College,None or 1,Good
2461,A00002462,24.0,Medium,Less than 5,High school,None or 1,Good
2462,A00002463,46.0,Medium,5 or more,College,More than 2,Good
2463,A00002464,28.0,High,Less than 5,College,More than 2,Good

In [4]:
print(credit.dtypes)

Customer_id                object
Age                       float64
Income_level               object
Number_of_credit_cards     object
Education                  object
Car_loans                  object
Credit_rating              object
dtype: object

In [5]:
credit.describe(include='all')

,Customer_id,Age,Income_level,Number_of_credit_cards,Education,Car_loans,Credit_rating
count,2464,2457.000000,2435,2464,2464,2464,2464
unique,2464,NaN,3,2,2,2,2
top,A00002237,NaN,Medium,5 or more,College,More than 2,Good
freq,1,NaN,1105,1666,1234,1571,1444
mean,NaN,33.820513,NaN,NaN,NaN,NaN,NaN
std,NaN,8.549764,NaN,NaN,NaN,NaN,NaN
min,NaN,20.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,27.000000,NaN,NaN,NaN,NaN,NaN
50%,NaN,33.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,40.000000,NaN,NaN,NaN,NaN,NaN
max,NaN,63.000000,NaN,NaN,NaN,NaN,NaN

In [6]:
print(credit['Income_level'].unique(),credit['Number_of_credit_cards'].unique(),credit['Education'].unique())
print(credit['Car_loans'].unique(),credit['Credit_rating'].unique())

['Medium' 'Low' nan 'High'] ['5 or more' 'Less than 5'] ['College' 'High school']
['More than 2' 'None or 1'] ['Bad' 'Good']

In [13]:
print(credit['Income_level'].unique())
credit['Income_level']=credit['Income_level'].fillna('Medium')
print(credit['Income_level'].unique())

['Medium' 'Low' nan 'High']
['Medium' 'Low' 'High']

In [14]:
print(pd.unique(credit['Income_level']))

['Medium' 'Low' 'High']

In [16]:
credit['Age']=credit['Age'].fillna(credit['Age'].mean())

In [17]:
credit['Credit_rating']=credit['Credit_rating'].map({'Bad':0,'Good':1}).astype(int)

In [18]:
credit['Income_level']=credit['Income_level'].map({'Low':1,'Medium':2,'High':3}).astype(int)

In [19]:
credit['Number_of_credit_cards']=credit['Number_of_credit_cards'].map({'5 or more':0,'Less than 5':1}).astype(int)

In [20]:
credit['Education']=credit['Education'].map({'College':0,'High school':1}).astype(int)

In [21]:
credit['Car_loans']=credit['Car_loans'].map({'More than 2':0,'None or 1':1}).astype(int)

In [22]:
print(credit['Credit_rating'].unique())

[0 1]

In [23]:
print(credit['Income_level'].unique(),credit['Number_of_credit_cards'].unique(),credit['Education'].unique())

[2 1 3] [0 1] [0 1]

In [24]:
credit.dtypes

Customer_id                object
Age                       float64
Income_level                int32
Number_of_credit_cards      int32
Education                   int32
Car_loans                   int32
Credit_rating               int32
dtype: object

In [25]:
from sklearn import tree
from sklearn.metrics import classification_report

In [26]:
from sklearn.model_selection import train_test_split

In [27]:
target='Credit_rating'
predictors=['Age','Income_level','Number_of_credit_cards','Education','Car_loans']

In [28]:
X=credit.loc[:,predictors]
y=credit.loc[:,target]

In [29]:
X_train,X_test,y_train,y_test=train_test_split(X,y)

In [30]:
X_train.describe(include='all')

,Age,Income_level,Number_of_credit_cards,Education,Car_loans
count,1848.000000,1848.000000,1848.000000,1848.000000,1848.000000
mean,33.799395,2.077922,0.316017,0.504329,0.358766
std,8.591738,0.726473,0.465046,0.500117,0.479768
min,20.000000,1.000000,0.000000,0.000000,0.000000
25%,27.000000,2.000000,0.000000,0.000000,0.000000
50%,33.000000,2.000000,0.000000,1.000000,0.000000
75%,40.000000,3.000000,1.000000,1.000000,1.000000
max,63.000000,3.000000,1.000000,1.000000,1.000000

In [31]:
X_test.describe(include='all')

,Age,Income_level,Number_of_credit_cards,Education,Car_loans
count,616.000000,616.000000,616.000000,616.000000,616.000000
mean,33.883866,2.129870,0.347403,0.483766,0.373377
std,8.379688,0.736516,0.476532,0.500143,0.484094
min,20.000000,1.000000,0.000000,0.000000,0.000000
25%,27.000000,2.000000,0.000000,0.000000,0.000000
50%,33.820513,2.000000,0.000000,0.000000,0.000000
75%,40.000000,3.000000,1.000000,1.000000,1.000000
max,62.000000,3.000000,1.000000,1.000000,1.000000

In [32]:
X_train.dtypes

Age                       float64
Income_level                int32
Number_of_credit_cards      int32
Education                   int32
Car_loans                   int32
dtype: object

In [33]:
clf=tree.DecisionTreeClassifier()
clf=clf.fit(X_train,y_train)

In [34]:
test_predict=clf.predict(X_test)

In [35]:
print(classification_report(y_test,test_predict))

             precision    recall  f1-score   support

          0       0.72      0.71      0.72       247
          1       0.81      0.82      0.81       369

avg / total       0.78      0.78      0.78       616

In [36]:
from sklearn.externals.six import StringIO
with open('credit.dot','w') as f:
    f=tree.export_graphviz(clf,out_file=f)

In [37]:
import os

In [38]:
os.unlink('credit.dot')